<a class="anchor" name="book_one"></a>

<div id="undoubtedly" class="jumbotron center-block">
  <div class="text-backer-title">
    <h1 id="book-title1" class="font-cinzel">UNDOUBTEDLY</h1>
    <h3 id="book-title2" class="font-cinzel">Trial One: Mind</h3>
  </div>

  <div class="row marketing">
    <div class="font-noticia text-backer center-block justifier">
      <p>My name is Kavirra, and while my story isn't one most want to hear, I'm going to tell it anyway. I've been a mind-controlled Illuminati assassin for the past four years, killing anyone and everyone I was told to.</p>
      <p>But things are different now, something within me has changed. The walls of numb that I've lived behind have come crumbling down and I find myself awakening to things I never even imagined possible.</p>
      <p>I have no idea how to deal with foreign emotions like trust and love stirring deep within my soul. And with the powerful Illuminati Pures trying to destroy me, I have nowhere to go and nowhere to hide.</p>
      <p>I know my journey will be hard, maybe even impossible, but in the end I must undoubtedly believe in myself.</p>
    </div>
  </div>

  <div class="scl-lnk-container">
    <a target="_blank" href="http://www.amazon.com/gp/product/B01AH0KK6Q?keywords=the%20kavirra%20trials"><div class="scl-lnk black-icn"><i class="fa fa-amazon fa-lg"></i>
    <p class="scl-lnk-txt bolder">Amazon</p></div></a>
    <a target="_blank" href="https://www.goodreads.com/book/show/28560981-undoubtedly?from_search=true&search_version=service"><div class="scl-lnk black-icn"><i class="fa fa-book fa-lg"></i>
    <p class="scl-lnk-txt bolder">GoodReads</p></div></a>
    <a target="_blank" href="https://www.pinterest.com/torimaymusic/undoubtedly-the-kavirra-trials-1-mind/"><div class="scl-lnk black-icn"><i class="fa fa-pinterest fa-lg"></i>
    <p class="scl-lnk-txt bolder">Pinterest</p></div></a>
    <a target="_blank" href="https://open.spotify.com/user/ckreon/playlist/28TycdyYOVCKFE54QgR0go"><div class="scl-lnk black-icn"><i class="fa fa-spotify fa-lg"></i>
    <p class="scl-lnk-txt bolder">Spotify</p></div></a>
  </div>
</div>